*{
    margin:0px;
    padding:0px;
    font-family: 'Ubuntu', sans-serif;
}
html{
    scroll-behavior:smooth;
}

body{
    background-color: rgb(238, 237, 237);
}


.menu{
    background-color: white;
    height: 90px;
    width: 83.5vw;
    margin: 30px 150px 0px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid;
    border-color: rgb(226, 224, 224);    
}

.menu_items{
    display: flex;
    list-style: none;
    margin-right: 50px;
}

.menu_items li{
    border-radius: 50px;
    margin-right: 50px;
}

.menu_items li a{
    text-decoration: none;
    padding: 10px;
    color: rgb(70, 65, 65);
    font-size: 20px;
    display: block;
}
.logo{
    margin-top: 20px;
    margin-left: 50px;
    width: 150px;
    height: 130px;
    cursor: pointer;
}

.menu_items li:hover{
    background-color: rgb(230, 228, 222);
}
.menu_items li a:hover{
    color: purple;
    font-size: 22px;
    transition: 0.3s;
}


.hero{
    background-color: white;
    height: 880px;
    width: 83.5vw;
    margin: -2px 150px 0px 150px;
    display: flex;
    border: 3px solid;
    border-color: rgb(226, 224, 224);  
}

.cuerpo{
    background-color: white;
    height: 1000px;
    width: 83.5vw;
    margin: 0px 150px 0px 150px;
    display: flex;
    border: 3px solid;
    border-color: rgb(226, 224, 224);  
    border-top: none;
}

.intro{
    width: 100vw;
    height: 880px;
    background-color: rgb(255, 255, 255);
}

.foto{
    display: block;
    border-radius: 50%;
    width: 200px;
    height: 250px;
    border: 1px solid;
    border-color: rgb(41, 39, 39);
    margin-left:44%;
    margin-top: 100px;
}

.nombre{
    font-size: 70px;
    text-align: center;
    letter-spacing: 1px;
    color: rgb(102, 100, 100);
}
.nombre span{
    color: rgb(51, 54, 56);
}
.nombre::before{
    content: '';
    position: absolute;
    width: 360px;
    height: 3px;
    border-radius: 20px;
    margin-top: 90px;
    margin-left: 87px;
    background-color: rgb(129, 93, 163);

}

.subtitulo{
    margin-top: 12px;
    text-align: center;
    font-size: 35px;
    color: rgb(129, 93, 163);
}

.texto{
    font-size: 18px;
    margin-top: 5px;
    text-align: center;
    margin-left:33%;
    margin-right:33%;
    color: rgb(102, 100, 100);
}
.boton{
    margin-top: 12px;
    margin-left: 47.1%;
    width: 100px;
    height: 40px;
    background-color: rgb(129, 93, 163);
    font-size: 20px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
.boton:hover{
    margin-top: 12px;
    margin-left: 47.1%;
    width: 1 0px;
    height: 40px;
    background-color: rgb(129, 93, 163);
    color: rgb(51, 54, 56);
    font-size: 20px;
    border-radius: 10px;

}