*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family: 'Ubuntu', sans-serif;
}

html{
    scroll-behavior:smooth;
}
body{
    background-color: rgb(230, 228, 228);
}

.text_gian{
    margin-left: 50px;
    margin-right: 50px;
    color: rgb(86, 13, 95);
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
}
.span_franco{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
}


.menu{
    width: 100%;
    background: linear-gradient(45deg,#0054ff 0, #5349fc 25%, #783cf2 50%, #922be7 75%, #a80cda 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
    top:0;
    left:0;
    z-index: 5;
}


.menu_items{
    display: flex;
    margin-right: 5%;
}

.menu_items li{
    list-style: none;
    margin: 10px;
}

.menu_items li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.menu i{
    font-size: 36px;
    color: #fff;
    display: none;

}
#toggle-menu{
    display:none;
}


.hero{
    padding-top: 6rem;
    background: url(img/bg.jpg) no-repeat center center;
    background-size: cover;
    margin-top: 4rem;
    text-align: center;
    padding-bottom: 22.5%;
}
.imagen{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 1px solid;
    border-color: rgb(41, 39, 39);
    margin-top: 1%;
}

.text_hero{
    font-size: 18px;
    margin-top: 5px;
    padding: 1% 35% 0 35%;
    color: rgb(255, 255, 255);
}

.subtitulo{
    margin-top: 12px;
    font-size: 35px;
    color: rgb(255, 255, 255);
    text-align: center;
}


.nombre{
    font-size: 70px;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
}
.nombre span{
    color: rgb(105, 105, 105);
}
.nombre::before{
    content: '';
    position: absolute;
    width: 360px;
    height: 3px;
    border-radius: 20px;
    margin-top: 90px;
    margin-left: 87px;
    background-color: rgb(203, 152, 250);
}

.botones{
    display: flex;
    justify-content: center;
}
.boton{
    margin-top: 12px;
    width: 140px;
    height: 40px;
    background-color: rgb(127, 49, 201);
    font-size: 20px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
.boton:hover{
    background-color: rgb(129, 93, 163);
    color: rgb(51, 54, 56);
    font-size: 20px;
    border-radius: 10px;
}

.h6_intro{
    margin-top: 2px;
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-align: center;
}



.experiencia{
    padding-top: 2%;
    padding-bottom: 2.5%;
    background: linear-gradient(45deg,#0054ff 0, #5d58bd 25%, #311c5c 50%, #922be7 75%, #a80cda 100%);
    background-size: 400% 400%;
    width: 100%;
}

.contenedor{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    
    
}

.title_experiencia{
    text-align: center;
    font-size: 50px;
    color: #fff;
    font-style: italic;
    margin-top: 50px;
}
.text_exp{
    margin-top: 2px;
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-style: italic;
}

.cuadro{
    margin: 20px;
    width: 100%;
    border-radius: 6px;
    margin-bottom: 20px;
    margin-top: 50px;
    display: inline-block;
    transition: all 300ms;
}

.cuadro img{
    width: 100px;
    height: 100px;
}

.title_carta{
    margin-top: 30px;
    margin-bottom: 15px;
    color: #fff;
    font-size: 35px;
    font-style: italic;
}
.texto_carta{
    color: #fff;
    font-size: 20px;
    margin-top: 20px;
}

.texto_carta2{
    color: rgb(189, 189, 189);
    font-size: 20px;
}


.menu_items li a:hover{
    color: purple;
    font-size: 22px;
    transition: 0.3s;
}


.contacto{
    padding-top: 50px;
    background: linear-gradient(45deg,#2c4881 0, #5d58bd 25%, #155dc9 50%, #922be7 75%, #a80cda 100%);
    background-size: 400% 400%;
    width: 100%;
}


.container{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.cuadro_contacto{
    height: 500px;
    width: auto;
    max-width: 450px;
    margin-right: 5px;
}

.cuadro_contacto2{
    height: 500px;
    width: 700px;
}

.fa-brands{
    margin-top: 50px;
    color: #fff;
    letter-spacing: 2.5px;
}
.fa-solid{
    margin-top: 50px;
    color: #fff;
    letter-spacing: 2.5px;
}

.fa-brands:hover{
    margin-top: 50px;
    color: rgb(23, 52, 180);
    letter-spacing: 2.5px;
    cursor: pointer;
}
.fa-solid:hover{
    margin-top: 50px;
    color: rgb(23, 52, 180);
    letter-spacing: 2.5px;
    cursor: pointer;
}

.cuadro:hover{
    transform: scale(1,1.3);
}

.footer{
    height: auto;
    background: linear-gradient(45deg,#0054ff 0, #5d58bd 25%, #311c5c 50%, #922be7 75%, #a80cda 100%);
    background-size: 400% 400%;
    width: 100%;
    text-align: center;
}



@media (max-width: 992px){
    .text_hero{
        padding: 1% 15% 0 15%;
    }
    .contenedor{
        width: 100%;
        display:block;
        justify-content: center;
        text-align: center;
    }
    .texto_carta{
        padding-left: 25px;
        padding-right: 25px;

    }
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        padding-bottom: 50px;
    }
    .cuadro_contacto2{
        height: 500px;
        width: 500px;
        max-width: auto;
        padding-left: 50px;
        padding-right: 50px;
    }


}

@media (max-width: 630px){

    .menu{
        height: 65px;
    }
    .menu ul{

        width: 100%;
        position: absolute;
        height: calc(100vh - 50px);
        top: 56px;
        left: 0;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        background: linear-gradient(45deg,#0054ff 0, #5349fc 25%, #783cf2 50%, #922be7 75%, #a80cda 100%);
        transform: translateX(200%);
        transition: all 0.4s ease-out;
    }
    .menu i{
        display: block;

    }
    #toggle-menu:checked ~ .menu_items{
        transform: translateX(0%);
        transition: all 0.4s ease-in;
    }
    
}